body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: #5e341a;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper{
    background-color: #e8c39c;
}

.nav-wrapper a{
    color: #5e341a;
}

#card-links {
    color: #5e341a;
}

.btn {
    background-color: #5e341a;
    margin-bottom: 8vmin;
}

.btn:hover {
    background-color: #6c4730;
 }

footer.page-footer {
    padding-top: 0;
    text-align: right;
    color: #5e341a;
    background-color: #e8c39c;
  }

